{% load jformat %}
<div class="addressing-container">
    <div id="addresses" class="addresses">
        {% if not address_items %}
            <section id="emtpy-address">هیچ ادرسی برای شما ثبت نشده است.</section>
        {% endif %}
        <form id="choose-address-form" class="choose-address">
        {% csrf_token %}
            {% for addr in address_items %}
                <div id="select-address-{{ addr.id }}" class="select-address" onclick="selectRadio({{ addr.id }})">
                    <input class="radio-btn" type="radio" id="radio-btn-{{ addr.id }}" name="address" value="{{ addr.id }}">
                    <div class="name-and-date">
                        <p class="address-title" style="max-width: 100%">{{ addr.title | truncatechars:20 }}</p>
                        <span>{{ addr.j_created | jformat:"%Y/%m/%d" }}</span>
                    </div>
                    <section class="address" style="max-width: 100%">
                        {{ addr.address | truncatechars:60 }}
                    </section>
{#                    <button type="button" class="edit-address"><i class="fa-regular fa-pen-to-square"></i></button>#}
                    <button onclick="delete_address({{ addr.id }})" type="button" class="delete-address"><i class="fa-solid fa-trash"></i></button>
                </div>
            {% endfor %}
        </form>
    </div>
    <div class="add-address">
        <form id="add-address-form" class="add-address-form">
            {% csrf_token %}
            <input id="add-address-title" type="text" name="title" maxlength="50" placeholder="عنوان">
            <textarea id="add-address-addr" name="address" maxlength="500" rows="10" cols="30" placeholder="آدرس شما..."></textarea>
            <button id="submit-add-address" onclick="add_address()" class="disabled" type="button">ثبت آدرس</button>
        </form>
    </div>
</div>
<button id="confirm-address-and-continue" class="disabled" type="button" onclick="submit_address()">نهایی کردن آدرس و ادامه</button>
{#<script>#}
{#    let address_title = false;#}
{#    let address_addr = false;#}
{#    console.log('loaded....')#}
{#    document.getElementById('add-address-title').addEventListener('input', function () {#}
{#        console.log('1');#}
{#        console.log(this.value);#}
{#        const value = this.value;#}
{#        if (value.length >= 4) {#}
{#            address_title = true;#}
{#        } else {#}
{#            address_title = false;#}
{#        }#}
{#        if (address_title && address_addr) {#}
{#            document.getElementById('submit-add-address').classList.remove('disabled');#}
{#        } else {#}
{#            document.getElementById('submit-add-address').classList.add('disabled');#}
{#        }#}
{#    });#}
{#    document.getElementById('add-address-addr').addEventListener('input', function () {#}
{#        console.log('2');#}
{#        console.log(this.value);#}
{#        const value = this.value;#}
{#        if (value.length >= 15) {#}
{#            address_addr = true;#}
{#        } else {#}
{#            address_addr = false;#}
{#        }#}
{#        if (address_title && address_addr) {#}
{#            document.getElementById('submit-add-address').classList.remove('disabled');#}
{#        } else {#}
{#            document.getElementById('submit-add-address').classList.add('disabled');#}
{#        }#}
{#    });#}
{#</script>#}