<div class="continue-ordering">
    <div id="progress">
      <div id="progress-bar"></div>
      <div id="progress-bar-background"></div>
      <ul id="progress-num">
        <li class="step pending">1</li>
        <li class="step">2</li>
        <li class="step">3</li>
        <li class="step">4</li>
      </ul>
    </div>
    <button onclick="progress_perv()" id="progress-prev" class="btn">Prev</button>
    <button onclick="progress_next()" id="progress-next" class="btn">Next</button>
</div>

