{% extends 'parent/raw.html' %}
{% load static %}
{% block raw_head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block raw_title %}
    Kalantari | ورود
{% endblock %}
{% block raw_content %}
    <main class="main">
        <div class="login-box">
            <div class="header">
                <a href="{% url 'workshop:home_page' %}">KALANTARI</a>
                <p>|</p>
                <span>ورود</span>
            </div>
            <form id="login-form" class="login-form" action="">
                {% csrf_token %}
                <div class="inputs">
                    <div class="input email">
                        <span>ایمیل :</span>
                        <input type="text" name="email" id="email" placeholder="ایمیل">
                    </div>
                    <div class="input passwd">
                        <span>رمز عبور :</span>
                        <div class="password-container">
                            <input type="password" name="passwd" id="passwd" placeholder="رمز عبور">
                            <i class="fa-regular fa-eye show-password" id="togglePasswd"></i>
                        </div>
                    </div>
                </div>
                <button class="" type="button" id="login" onclick="Login()">ورود</button>
                <div class="register-link">
                    <span>حساب کاربری ندارید؟</span>
                    <a href="{% url 'account:register' %}">ثبت نام</a>
                </div>
            </form>
            <div class="footer">
                <p>Login to Kalantari Official</p>
                <div class="footer-links">
                    <a href="{% url 'workshop:home_page' %}">خانه</a>
                    <span>|</span>
                    <a href="{% url 'dashboard:user_dashboard' %}">داشبورد</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block raw_script %}
    <script src="{% static 'js/login.js' %}"></script>
    <!-- axios -->
    <script src="{% static 'js/library/axios.js' %}"></script>
    <script src="{% static 'js/library/fontawesome.js' %}"></script>
{% endblock %}