{% extends 'parent/raw.html' %}
{% load static %}
{% block raw_head %}
    {% include 'parent/head.html' %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block raw_title %}
    KALANTARI | ثبت نام
{% endblock %}
{% block raw_content %}
    <main class="main">
        <div class="register-box">
            <div class="box-header">
                <a href="{% url 'workshop:home_page' %}">KALANTARI</a>
                <p>|</p>
                <span>ثبت نام</span>
            </div>
            <div class="enroll-step-bar">
                <div id="register-step-bar" class="step-bar"></div>
            </div>
{#            <div class="enroll-steps">#}
{#                <div class="enroll-step passed"></div>#}
{#                <div class="enroll-step"></div>#}
{#                <div class="enroll-step"></div>#}
{#                <div class="enroll-step"></div>#}
{#            </div>#}
            <form id="register-form" class="form">
                {% csrf_token %}
                <div id="register-form-container" class="register-con con-phone">
                    <div class="inputs">
                        <div class="input phone-number">
                            <label for="phone">شماره موبایل:</label>
{#                            <input type="number" name="phone" id="phone" placeholder="09XX XXX XXXX">#}
                            <input type="tel" id="phone" name="phone" pattern="09[0-9]{9}" oninput="register.limitDigits('phone', 11)" placeholder="09XX XXX XXXX" required>
                        </div>
                    </div>
                    <button class="disabled" type="button" id="confirm" onclick="">تایید</button>
                    <div class="login-link">
                        <span>حساب کاربری دارید؟</span>
                        <a href="{% url 'account:login' %}">ورود</a>
                    </div>
                </div>
            </form>
{#            <form id="login-form" class="login-form" action="">#}
{#                {% csrf_token %}#}
{#                <div class="inputs">#}
{#                    <div class="input email">#}
{#                        <span>ایمیل :</span>#}
{#                        <input type="text" name="email" id="email" placeholder="ایمیل">#}
{#                    </div>#}
{#                    <div class="input passwd">#}
{#                        <span>رمز عبور :</span>#}
{#                        <div class="password-container">#}
{#                            <input type="password" name="passwd" id="passwd" placeholder="رمز عبور">#}
{#                            <i class="fa-regular fa-eye show-password" id="togglePasswd"></i>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <button class="" type="button" id="login" onclick="">ورود</button>#}
{#                <div class="register-link">#}
{#                    <span>حساب کاربری ندارید؟</span>#}
{#                    <a href="{% url 'account:register' %}">ثبت نام</a>#}
{#                </div>#}
{#            </form>#}
            <div class="box-footer">
                <p>Login to Kalantari Official</p>
                <div class="footer-links">
                    <a href="{% url 'workshop:home_page' %}">خانه</a>
                    <span>|</span>
                    <a href="{% url 'dashboard:user_dashboard' %}">داشبورد</a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block raw_script %}
    <script type="text/javascript" src="{% static 'js/register.js' %}"></script>
{% endblock %}