{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <title>Kalantari | {% block title %}{% endblock %}</title>
    {% include 'parent/head.html' %}
    {% block head %}{% endblock %}
</head>
<body>
<div style="display: none">
    {% render_partial 'partials.views.global_cookies' %}
</div>
    <!-- Loading animation container -->
    <div id="preloader">
        <div id="loader"></div>
    </div>
    {% include 'parent/header.html' %}
    {% block content %}{% endblock %}
    {% include 'parent/footer.html' %}
    <script>
        const isAuthenticated = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
    </script>
    {% include 'parent/script.html' %}
    {% block script %}{% endblock %}
</body>
</html>