{% extends 'parent/base.html' %}
{% load static %}
{% block title %}خانه{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block content %}
	<main class="main">
        <div class="background-video">
            <video id="background-video" autoplay loop muted>
                <source src="{% static 'videos/main/bg-video.mp4' %}" type="video/mp4">
            </video>
            <div class="controls">
                <button id="toggle-play"><i class="fa-solid fa-pause"></i></button>
                <button id="toggle-mute"><i class="fa-solid fa-volume-xmark"></i></button>
            </div>
        </div>
        <div class="categories">
            <div class="category woman">
                <a class="catinter"  href="{% url 'workshop:product_man_list' %}">
                    <img src="{% static 'images/main/Womens.webp' %}" alt="womens-category">
                    <span>
                        <p>کیف چرم برای بانوان</p>
                        <button>دسته بندی بانوان</button>
                    </span>
                </a>
            </div>
            <div class="category man">
                <a class="catinter" href="{% url 'workshop:product_woman_list' %}">
                    <span>
                        <p>کیف چرم برای آقایان</p>
                        <button>دسته بندی آقایان</button>
                    </span>
                    <img src="{% static 'images/main/Mens.webp' %}" alt="mens-category">
                </a>
            </div>
        </div>

        <!-- <div class="second">
            <p>hello</p>
        </div> -->
    </main>
{% endblock %}
{% block script %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}