{% extends 'parent/base.html' %}
{% load static %}
{% block title %}مردانه{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}
{% block content %}
<div class="header-black"></div>
	<main class="main">
        <div class="content"></div>
        <div class="items">
            {% for product in page_obj %}
            <a class="product item-link" href="{{ product.get_absolute_url }}">
            {% if product.hover_image %}
            	<div id="{{ product.uid }}" dual-image="true" class="item">
                    <div class="image-container">
                        <img class="cover-image" src="{{ product.cover_image.url }}" alt="{{ product.title }}">
                        <img style="opacity: 0;" src="{{ product.cover_image.url }}" alt="{{ product.title }}">
                        <img class="hover-image" src="{{ product.hover_image.url }}" alt="{{ product.title }}">
                    </div>
                    <div class="item-des">
                        <span>{{ product.title }}</span>
                        <span class="price">{{ product.price }} تومان</span>
                    </div>
                </div>
            {% else %}
                <div id="{{ product.uid }}" dual-image="false" class="item">
                    <div class="image-container">
                        <img class="cover-image" src="{{ product.cover_image.url }}" alt="{{ product.title }}">
                        <img style="opacity: 0" src="{{ product.cover_image.url }}" alt="{{ product.title }}">
    {#                    <img class="hover-image" src="{{ product.hover_image.url }}" alt="{{ product.title }}">#}
                    </div>
                    <div class="item-des">
                        <span>{{ product.title }}</span>
                        <div class="price">{{ product.price }} تومان</div>
                    </div>
                </div>
            {% endif %}
            </a>
            
{#        	{% include 'component/product_item.html' with product=product %}#}
            {% endfor %}
        </div>
        {% include 'component/paginating.html' with page_obj=page_obj %}
    </main>
    {% endblock %}
{% block script %}
    <script src="{% static 'js/product_list.js' %}"></script>
{% endblock %}