{% extends 'parent/base.html' %}
{% load static %}
{% block title %}Kalantari | مردانه{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock %}
{% block content %}
<div class="header-black"></div>
	<main class="main">
        <div class="content"></div>
        <div class="items">
            {% for product in page_obj %}
            <a class="item-link" href="">
                <div class="item">
                    <img src="{{ product.image.url }}" alt="{{ product.title }}">
                    <span>{{ product.title }}</span>
                </div>
            </a>
            
{#        	{% include 'component/product_item.html' with product=product %}#}
            {% endfor %}
        </div>
        {% include 'component/paginating.html' with page_obj=page_obj %}
    </main>
{% endblock %}