ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
/* ------------------------------- */
.cart {
    direction: rtl;
    width: 100%;
    height: 100%;
    /* height: 50vh; */
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/* ------------------disable cart section in cart page------------------ */
.cart #empty-cart {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart #empty-cart p {
    font-size: 1.2rem;
    color: gray;
}
.cart #empty-cart a {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    border: 1px solid black;
    width: 150px;
    height: 40px;
    transition: all 0.3s ease-in;
}
.cart #empty-cart a:hover {
    background-color: whitesmoke;
    color: black;
}
.cart .items {
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    min-height: fit-content;
    max-height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart .items .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    /* background-color: purple; */
    border: 1px solid gray;
    height: 150px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}
.cart .items .item:hover {
    scale: 1.015;
}
.cart .items .item .item-info {
    width: 50%;
}
.cart .items .item .item-info .kala-link {
    min-width: fit-content;
    max-width: 100%;
    /* background-color: blue; */
    color: black;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: start;
    justify-content: start;
}
.cart .items .item .item-info .kala-link .cart-item-image {
    width: 140px;
    height: 140px;
    margin: 5px 10px;
    border-radius: 10px;
}
.cart .items .item .item-info .kala-link .cart-item-title-and-code {
    /* background-color: blanchedalmond; */
    height: 140px;
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
}
.cart .items .item .item-info .kala-link .cart-item-title {
    /* background-color: orchid; */
}
.cart .items .item .item-info .kala-link .cart-item-code {
    /* background-color: orange; */
}

/* ***************************************** */
.cart .items .item .item-control {
    /* background-color: yellow; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cart .items .item .item-control .change-count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    margin-right: 10px;
    box-sizing: border-box;
    width: 200px;
}
.cart .items .item .item-control .change-count form {
    /* background-color: red; */
}
.cart .items .item .item-control .change-count form button {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}
.cart .items .item .item-control .change-count form button:hover {
    background-color: whitesmoke;
    color: black;
}
.cart .items .item .item-control .change-count section {
    /* background-color: pink; */
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0px 15px;
    min-width: 50px;
    /* max-width: 100px; */
    height:40px;
}
.cart .items .item .item-control .change-count section span {
    font-size: 1.2rem;
    cursor: default;
}
.cart .items .item .item-control .change-count section p {
    margin-right: 10px;
    font-size: 0.7rem;
    color: gray;
}

/* .cart .items .item .item-control .price-and-delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.cart .items .item .item-control .delete button {
    width: 40px;
    height: 40px;
    border: 1px solid red;
    background-color: whitesmoke;
    color: red;
    border-radius: 10px;
    margin-left: 20px;
    transition: all 0.3s ease-in-out;
}
.cart .items .item .item-control .delete button:hover {
    background-color: red;
    color: white;
}
.cart .items .item .item-control .detail-price {
    cursor: default;
    width: 200px;
    height: 60px;
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 0px 10px;
}
.cart .items .item .item-control .detail-price span {
    font-size: 1.2rem;
}
.cart .items .item .item-control .detail-price p {
    transform: translateY(4px);
    margin-right: 10px;
    font-size: 0.8rem;
    color: gray;
}



/* --------------------------------------- */
.cart .cart-order-info {
    width: 100%;
    /* background-color: red; */
    min-height: 10vh;
    margin-top: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
}


.cart .cart-order-info .info-items {
    box-sizing: border-box;
    background-color: #cccccc5b;
    width: 60%;
    padding: 0px 15px;
    height: 280px;
    /* margin: 0px 15px; */
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.cart .cart-order-info .info-items .hr {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    width: 100%;
    padding: 0px;
    margin: 0px;
}
.cart .cart-order-info .info-item {
    /* background-color: #ccc; */
    width: 100%;
    /* padding: 20px; */
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* height: 20px; */
}
.cart .cart-order-info .info-item section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.cart .cart-order-info .info-item section p {
    color: rgba(0, 0, 0, 0.7);
    margin-right: 3px;
    font-size: 0.8rem;
    transform: translateY(3px);
}
.cart .cart-order-info .order-offer-code .order-offer-code-title {
    width: 100%;
    height: 40px;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart .cart-order-info .order-offer-code {
background-color: #cccccc5b;
    width: 35%;
    height: 280px;
    /* height: 200px; */
    /* padding-top: 25px; */
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.cart .cart-order-info .order-offer-code button {
    width: 95%;
    height: 40px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    /* margin-top: 10px; */
}
.cart .cart-order-info .order-offer-code button:hover {
    background-color: white;
    color: black;
}
.cart .cart-order-info .order-offer-code .offer-code-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}
.cart .cart-order-info .order-offer-code .offer-code-input input {
    padding: 5px 10px;
    width: 70%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    direction: ltr;
}
.cart .cart-order-info .order-offer-code .code-offered {
    width: 94%;
    /* margin-top: 40px; */
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cart .cart-order-info .order-offer-code .code-offered section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.cart .cart-order-info .order-offer-code .code-offered section p {
    font-size: 0.8rem;
    color: gray;
    margin-right: 3px;
    transform: translateY(3px);
}
/* -------continue-order-------- */
.cart .continue-order {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cart .continue-order button#continue-order {
    width: 98%;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    margin: 15px 0px;
    border-radius: 10px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}
.cart .continue-order button#continue-order:hover {
    background-color: whitesmoke;
    color: black;
}


