@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

* {
  box-sizing: border-box;
}

.continue-ordering {
  width: 100%;
  /* font-family: "Muli", sans-serif; */
  /* background-color: #f6f7fb; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  min-height: 30vh;
  overflow: hidden;
  margin: 0;
  position: relative;
}

/* ************ */
#progress-num .step-container {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: default;
}
#progress-num .step-container  .step-name {
  position: absolute;
  bottom: -60%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  text-align: center;
}

/* *********** */


#progress {
  position: relative;
  margin-top: 20px;
  margin-bottom: 60px;   
  width: 60%;
}
#progress-bar {
  position: absolute;
  background: black;
  height: 10px;
  width: 0%;
  top: 40%;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  transition: all 0.7s ease-in-out;
}
#progress-bar-background {
  position: absolute;
  background: lightgray;
  height: 10px;
  width: 100%;
  top: 40%;
  left: 0;
  z-index: 1;
  border-radius: 5px;
  z-index: 0;
}
#progress-num {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
#progress-num::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 20px;
  width: 100%;
  z-index: -1;
}
#progress-num .step {
  border: 5px solid lightgray;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 1.3rem;    
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
#progress-num .step.active {
  /* border-color: lightseagreen; */
  /* background-color: lightseagreen; */
  /* color: #fff; */
  border-color: black;
  background-color: black;
  color: white;
}
#progress-num .step.pending {
  border-color: black;
  background-color: whitesmoke;
  color: black;
}

/* .prev-step {
  width: 100%;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
} */

#prev-step {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: all 0.4s ease-in-out;
  margin-bottom: 30px;
  border-radius: 10px;
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  direction: rtl;
}
#prev-step:hover {
  background-color: whitesmoke;
  color: black;
}
/* #progress-next {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
  border: 1px solid black;
  transition: all 0.4s ease-in-out;
  border-radius: 10px;
}
#progress-next:hover {
  background-color: whitesmoke;
  color: black;
} */

/* ------------------------------------------------------- */
#continue-ordering-content {
  width: 99%;

  border: 1px solid gray;
  border-radius: 10px;
  min-height: 30vh;
  transition: all 0.5s ease-in-out;
}
#continue-ordering-content:hover {
  box-shadow: 0px 0px 10px 3px rgba(128, 128, 128, 0.3);
}


/* *****************************Addressing_package********************** */
.addressing-container {
  width: 100%;
  min-height: 50vh;
  padding: 20px 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 5fr));
  gap: 25px;
  box-sizing: border-box;
  /* background-color: blue; */
}
.addressing-container .addresses {
  border: 1px solid gray;
  border-radius: 10px;
}
.addressing-container .addresses .choose-address-form {
  width: 100%;
  height: 100%;
}
.addressing-container .addresses .choose-address {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  direction: rtl;
}
.addressing-container .addresses .choose-address .select-address {
  width: 95%;
  height: 100px;
  padding-bottom: 10px;
  border-radius: 15px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin: 5px 0px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.addressing-container .addresses .choose-address .select-address.selected {
  border: 2px solid black;
}
.addressing-container .addresses .choose-address .select-address:hover {
  scale: 1.02;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}
.addressing-container .addresses .choose-address .select-address .name-and-date {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.addressing-container .addresses .choose-address .select-address .name-and-date span {
  color: gray;
  font-size: 0.7rem;
  margin-left: 5px;
}
.addressing-container .addresses .choose-address .select-address .name-and-date p {
  padding: 0px;
  font-size: 1.5rem;
  margin: 0px;
  margin-right: 30px;
}
.addressing-container .addresses .choose-address .select-address input {
  position: absolute;
  top: 15px;
  right: 5px;
  width: 15px;
  height: 15px;
}
.addressing-container .addresses .choose-address .select-address input:checked {
  border-color: black;
  background-color: black;
}
.addressing-container .addresses .choose-address .select-address .address {
  width: 100%;
  font: 0.5rem;
  color: gray;
  margin-right: 15px;
}
.addressing-container .addresses .choose-address .select-address .edit-address {
  position: absolute;
  border: none;
  width: 30px;
  height: 30px;
  left: 55px;
  bottom: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.6);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.addressing-container .addresses .choose-address .select-address .edit-address:hover {
  box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.4);
  background-color: rgba(128, 128, 128, 0.3);
  color: rgba(0, 0, 0, 1.0);
}
.addressing-container .addresses .choose-address .select-address .delete-address {
  position: absolute;
  border: none;
  width: 30px;
  height: 30px;
  left: 10px;
  bottom: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 0, 0, 0.6);
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.addressing-container .addresses .choose-address .select-address .delete-address:hover {
  box-shadow: 0px 0px 15px 5px rgba(128, 128, 128, 0.4);
  background-color: rgba(128, 128, 128, 0.3);
  color: rgba(255, 0, 0, 1.0);
}




.addressing-container .add-addres {
  height: 300px;
  border: 1px solid gray;
  border-radius: 10px;
}


.addressing-container .add-address {
  width: 100%;
  height: 100%;
  /* max-height: 50vh; */
  padding: 30px 25px;
  box-sizing: border-box;
}
.addressing-container .add-address .add-address-form {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.addressing-container .add-address .add-address-form #add-address-form-message {
  width: 100%;
  height: 40px;
  font-variant-position: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}
.addressing-container .add-address .add-address-form #add-address-form-message.message-error {
  height: 100%;
  align-items: center;
  background: linear-gradient(to left, rgba(255, 0, 0, 0.6), white);
  color: darkred;
}
.addressing-container .add-address .add-address-form #add-address-form-message.message-error section {
  width: 10px;
  height: 40px;
  margin-left: 15px;
  background-color: red;
}
.addressing-container .add-address .add-address-form #add-address-form-message.message-success {
  height: 100%;
  align-items: center;
  background: linear-gradient(to left, rgba(0, 128, 0, 0.6), white);
  color: darkgreen;
}
.addressing-container .add-address .add-address-form #add-address-form-message.message-success section {
  width: 10px;
  height: 40px;
  margin-left: 15px;
  background-color: green;
}

.addressing-container .add-address .add-address-form input {
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  margin-bottom: 30px;
}
.addressing-container .add-address .add-address-form input:focus {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.addressing-container .add-address .add-address-form textarea {
  width: 100%;
  height: auto;
  max-height: 200px;
  resize: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 50px;
}
.addressing-container .add-address .add-address-form textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.addressing-container .add-address .add-address-form button {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}
.addressing-container .add-address .add-address-form button:hover {
  color: black;
  background-color: whitesmoke;
}


#confirm-address-and-continue {
  width: 90%;
  height: 50px;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  margin-bottom: 30px;
  margin-right: 5%;
  margin-left: 5%;
}
#confirm-address-and-continue:hover {
  background-color: white;
  color: black;
}


#emtpy-address {
  width: 100%;
  height: 100%;
  color: gray;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* *****************************Check_cart_items*********************** */
.checkout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 15px 10px;
  box-sizing: border-box;  
}
.checkout-container .ch-items {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 15px;
  list-style: none;
  direction: rtl;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}
.checkout-container .ch-items .item {
  /* width: 400px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-radius: 10px;
  direction: rtl;
}
.checkout-container .ch-items .item img {
  /* width: 150px; */
  /* height: 150px; */
  width: 30%;
  height: calc(width);
  border-radius: 10px;
}
.checkout-container .ch-items .item .ch-item-info {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.checkout-container .ch-items .item span {
  width: 100%;
  margin: 10px 0px;
  margin-right: 10px;
}
.checkout-container .ch-items .item section {
  width: 100%;
  max-height: 25%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.checkout-container .ch-items .item section .ch-item-count {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
}
.checkout-container .ch-items .item section .ch-item-count .ch-item-count-num {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
  font-size: 1.3rem;
  text-align: center;
}
.checkout-container .ch-items .item section .ch-item-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}
.checkout-container .ch-items .item section .ch-item-price p {
  /* margin: 0px 5px; */
  font-size: 0.7rem;
  color: gray;
  transform: translateY(5px);
}

.checkout-container .ch-info {
  margin-top: 15px;
  width: 98%;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.6);
  list-style: none;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 6fr)); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.checkout-container .ch-info .hr {
  width: 100%;
  border-top: 1px solid gray;
}
.checkout-container .ch-info li {
  direction: rtl;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.checkout-container .ch-info li section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
.checkout-container .ch-info li section p {
  font-size: 0.7rem;
  color: gray;
  transform: translateY(5px);
  margin-right: 10px;
}


#submit-checkout-items {
  width: 95%;
  margin: 25px auto;
  height: 50px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
}
#submit-checkout-items:hover {
  background-color: whitesmoke;
  color: black;
}
/* ******************************Receipt*********************************** */
.receipt-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px 0px;
  position: relative;
}
.receipt-container .factor {
  width: 98%;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}
#download-factor {
  cursor: pointer;
  direction: rtl;
  position: absolute;
  width: 130px;
  height: 40px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
  /* font-size: 0.9rem; */
  /* top: 65px; */
  top: -50px;
  right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  transition: all 0.3s ease;
}
#download-factor:hover {
  background-color: white;
  color: black;
}

#submit-factor {
  margin: 20px 0px;
  text-align: center;
  width: 99%;
  height: 50px;
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 10px;
  transition: all 0.3s ease;
}
#submit-factor:hover {
  background-color: white;
  color: black;
}

@media print {
  #receipt-factor {
    page-break-inside: avoid;
    page-break-after: auto;
  }
}

