/* -------------------------Cinzel-Fonts------------------------ */
@font-face {
    font-family: Cinzel;
    src: url("../fonts/cinzel/Cinzel-VariableFont_wght.ttf");
}
@font-face {
    font-family: Cinzel-Regular;
    src: url("../fonts/cinzel/Cinzel-Regular.ttf");
}
@font-face {
    font-family: Cinzel-Medium;
    src: url("../fonts/cinzel/Cinzel-Medium.ttf");
}
@font-face {
    font-family: Cinzel-SemiBold;
    src: url("../fonts/cinzel/Cinzel-SemiBold.ttf");
}
@font-face {
    font-family: Cinzel-Bold;
    src: url("../fonts/cinzel/Cinzel-Bold.ttf");
}
@font-face {
    font-family: Cinzel-ExtraBold;
    src: url("../fonts/cinzel/Cinzel-ExtraBold.ttf");
}
@font-face {
    font-family: Cinzel-Black;
    src: url("../fonts/cinzel/Cinzel-Black.ttf");
}
/* --------------------------------- */
@font-face {
    font-family: B-Shiraz;
    src: url("../fonts/B-Shiraz/B-Shiraz.ttf");
}
@font-face {
    font-family: B-Shiraz_italic;
    src: url("../fonts/B-Shiraz/B-Shiraz_Italic.ttf");
}
/* -------------------------- */
@font-face {
    font-family: Oswald-Medium;
    src: url("../fonts/Oswald/Oswald-Medium.ttf");
}
/* -------------------------------------------------------------------- */


body{
    font-family: 'B-Shiraz', serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}
.Cinzel-font {
    font-family: 'Cinzel', serif;
}
.Oswald-medium {
    font-family: 'Oswald-Medium', serif;
}

.hidden {
    display: none;
}
.disabled {
    opacity: 0.5; /* Reduce opacity to visually indicate disabled state */
    pointer-events: none; /* Disable pointer events to prevent interaction */
    cursor: not-allowed; /* Change cursor to 'not-allowed' to indicate*/
    background-color: #dddddd; /* Change background color for visual indication */
    color: #999999; /* Change text color for visual indication */
    cursor: not-allowed; /* Change Cursor to Not-Allowed */
}