.header-black {
    height: 80px;
    width: 100%;
    background-color: black;
}


.items {
  direction: rtl;
    margin: 50px 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    gap: 20px;
}
.item-link {
    color: inherit;
    text-decoration: none;
}
.item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
/* --------------------------------------------- */
.item-code {
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  color: gray;
  font-size: 0.7rem;
  padding: 0px;
  margin: 0px;
  padding-right: 15px;
}

.item-des {
  direction: rtl;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  padding-right: 20px;
  margin: 0px;
}
.item-price-con {
  margin-top: 10px;
  direction: rtl;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.item-price-con .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 5px 15px; */
  margin-right: 10px;
  width: 50%;
  margin-bottom: 10px;
  padding: 0px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 8px;
}
.item-price-con .price p {
  margin-right: 5px;
  font-size: 0.7rem;
  color: gray;
  transform: translateY(4px);
}
.item-price-con .share-item-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 15px;
  margin-left: 20px;
  font-size: 1.3rem;
  transition: all 0.3s;
}
.item-price-con .share-item-btn:hover {
  background-color: rgba(211, 211, 211, 0.7);
  box-shadow: 0px 0px 15px 5px lightgray;
}
/* -----------Hover-&-Cover--IMage----------- */
.image-container {
  width: 100%;
  height: auto;
  position: relative;
  margin: 0px;
  padding: 0px;
}
/* The pseudo-element that creates the aspect ratio */
/* .image-container::before {
  content: '';
  display: block;
  padding-top: calc(auto / 100% * 100); */
  /* Replace height and width with your image's aspect ratio */
/* } */
.cover-image, .hover-image {
  transition: opacity 0.3s;
  position: absolute;
  top: 0;
  left: 0;
}
.hover-image {
  opacity: 0;
  /* z-index: 10; */
  backface-visibility: hidden;
}
/* .covered {
  opacity: 1;
}
.hovered {
  opacity: 0;
} */
/* ---------------------- */
.item:hover {
  transform: scale(1.03);
}
.item img {
  width: 100%;
  height: calc(width);
}
/* .item span {
  padding: 15px;
  font-size: 1.3rem;
} */
/* .item .price {
  padding: 0px 20px;
  color: rgb(68, 68, 68);
  font-size: 0.9rem;
}
.product-name {
    font-size: 18px;
    margin-bottom: 10px;
}
.product-price {
    font-size: 16px;
    color: #e44d26;
} */
/* -----------------pagination--------------------- */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .pagination li {
    margin: 0 5px;
  }

  .pagination a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .pagination a:hover {
    background-color: #ddd;
  }

  .pagination .btn.disabled {
    cursor: not-allowed;
    background-color: #ddd;
    color: #666;
  }

  .pagination .active a {
    background-color: #007bff;
    color: #fff;
  }