.main {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-color: rgba(20, 20, 20, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.box-header {
    height: 80px;
    padding: 15px 0px;
    box-sizing: border-box;
    transition: all 2s ease;
    animation: header-start 1s ease-out 0.5s 1 normal both;
    font-size: 1.5rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid whitesmoke;
    overflow: hidden;
}

.box-header span {
    cursor: default;
    overflow: hidden;
    text-wrap: nowrap;
}

.box-header p {
    font-size: 2rem;
    overflow: hidden;
    transform: translateY(-3px);
}

.box-header a {
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
    text-wrap: nowrap;
}

.box-header a:hover {
    text-shadow: 0px 0px 5px white;
}

.box-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    box-sizing: border-box;
    padding: 0px 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.box-footer .footer-links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    height: 100%;
}

.box-footer .footer-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 0.9rem;
    transition: all 0.5s ease;
}

.box-footer .footer-links a:hover {
    text-shadow: 0px 0px 5px white;
}

.box-footer .footer-links span {
    font-size: 2rem;
}

.register-box {
    animation: start 0.8s both;
    width: 70%;
    min-width: 350px;
    max-width: 500px;
    min-height: 30vh;
    background-color: rgba(25, 25, 25, 1);
    border: 1px solid rgba(25, 25, 25, 1);
    border-radius: 5px;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    transform: translate3d(1px, 1px, 3px);
    box-shadow: 0px 0px 10px 1px rgba(50, 50, 50, 0.7);
    box-sizing: border-box;
}

.register-box:hover {
    transform: translate3d(4px, 4px, 12px);
    box-shadow: 0px 0px 15px 3px rgba(60, 60, 60, 1);
}
/* .register-link {
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
    direction: rtl;
    box-sizing: border-box;
}
.register-link span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.7rem;
}
.register-link a {
    margin-right: 5px;
    text-decoration: none;
    color: lightskyblue;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}
.register-link a:hover {
    text-shadow: 0px 0px 5px lightskyblue;
} */

.enroll-step-bar {
    width: 100%;
    height: 8px;
    background-color: rgba(35, 35, 35, 1);
    margin-bottom: 5px;
    position: relative;
}
.enroll-step-bar .step-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: green;
    border-top-right-radius: 5px;
    border-end-end-radius: 5px;
    transition: width 1s ease;
    animation: step-bar-start 1s ease-in-out 0.5s forwards;
}
.enroll-step-bar .step-bar::before {
    width: 25%;
}

/* .enroll-step {
    width: 100%;
    height: 10px;
    box-sizing: border-box;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.enroll-steps .enroll-step {
    width: 23%;
    height: 100%;
    background-color: gray;
    border-radius: 5px;
}
.enroll-steps .enroll-step.passed {
    background-color: green;
} */

/* ------------------------------------------------------------ */

.register-box .form {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
.register-box .form .register-con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    direction: rtl;
}
.register-box .form .register-con .inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.register-box .form .register-con .inputs .input {
    width: 95%;
    box-sizing: border-box;
    margin: 5px auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: relative;
    margin-bottom: 10px;
}
.register-box .form .register-con .inputs .input input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgba(45, 45, 45, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: white;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
.inputs .input input:placeholder-shown {
    text-align: right;
}

.inputs .input input:not(:placeholder-shown) {
    text-align: center;
}

input:-webkit-autofill {
    background-color: rgba(45, 45, 45, 0.8) !important;
    -webkit-box-shadow: 0 0 0 30px rgba(45, 45, 45, 0.8) inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.8) !important;
    border: 1px solid rgba(255, 255, 255, 0.8) !important;
    font-style: italic !important;
    font-weight: bold !important;
    color: white !important;
    letter-spacing: 2px !important;
}

/* Remove spinner for WebKit browsers (Chrome, Safari, Edge) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinner for Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Optional: Style to ensure consistency across different browsers */
input {
    appearance: textfield;
    /* Add any additional styling here */
}

.inputs .input label {
    font-size: 0.9rem;
    color: white;
    cursor: default;
}
.register-box .form .register-con .inputs .input input.input-error {
    border: 1px solid red;
}
.register-box .form .register-con .inputs .input input.input-error:focus {
    border: 1px solid red;
    outline: none;
    box-shadow: 0 0 0 1px red;
}
.register-box .form .register-con .inputs .input input.input-error:active {
    border: 1px solid red;
}
.register-box .form .register-con .inputs .input input.is-valid {
    border: 1px solid green;
}
.register-box .form .register-con .inputs .input input.is-valid:focus {
    border: 1px solid green;
    outline: none;
    box-shadow: 0 0 0 1px green;
}
.register-box .form .register-con .inputs .input input.is-valid:active {
    border: 1px solid green;
}
.input .input-error-message {
    color: rgb(255, 70, 70);
    font-size: 0.7rem;
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    right: 0;
}

.register-con button {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 90%;
    font-size: 1.2rem;
    padding: 0px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    color: white;
    background-color: black;
    transition: all 0.5s ease;
    text-align: center;
    align-items: center;
}

.register-con button:hover {
    background-color: rgba(5, 5, 5, 1);
}

.register-con .submiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    border-radius: 20px;
    width: 10%;
}
.register-con .submiting i {
    animation: spin 1s linear infinite;
}


/* **********************phone************************* */
#phone:placeholder-shown {
    text-align: left;
    letter-spacing: 2px;
}

#phone:not(:placeholder-shown) {
    text-align: center;
    letter-spacing: 3px;
}
.con-phone {
    box-sizing: border-box;
    height: 100%;
    justify-content: space-between;
    padding: 10% 0px;
}


.con-phone .login-link {
    width: 100%;
    margin: 0px;
    padding: 0px 20px;
    direction: rtl;
    box-sizing: border-box;
}
.con-phone .login-link span {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.7rem;
}
.con-phone .login-link a {
    margin-right: 5px;
    text-decoration: none;
    color: lightskyblue;
    font-size: 0.8rem;
    transition: all 0.3s ease;
}
.con-phone .login-link a:hover {
    text-shadow: 0px 0px 5px lightskyblue;
}









/* -------------------animations---------------------- */
@keyframes start {
    from {
        transform: translateY(5rem);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes header-start {
    from {
        margin-right: auto;
        margin-left: auto;
        width: 0%;
    }

    to {
        width: 100%;
        padding: 0px 15%;
    }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes step-bar-start {
    from {
      width: 0%;
    }
    to {
      width: 2.5%;
    }
  }
/* -------------------------------------------------- */

