{% extends 'parent/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="{% static 'css/favorite.css' %}">
<link rel="stylesheet" href="{% static 'css/continue_order.css' %}">

<!-- <style>
    .header {
        background-color: black;
    }
    .header.header-hover {
        background-color: white;
    } -->
{% endblock %}
{% block title %}پنل کاربری{% endblock %}
{% block content %}
	
    <main>
        <div class="dashboard-container">
            <div id="section-bar-id" class="section-bar">
                <div id="favorite_section_btn" onclick="chooseSectionBtn(this)" data_section="favorite" class="section">
                    <div class="section-btn">
                        <span>لیست علاقه مندی ها</span>
                    </div>
                    <div class="under-line"></div>
                </div>
                <div id="cart_section_btn" onclick="chooseSectionBtn(this)" data_section="cart" class="section">
                    <div class="section-btn">
                        <span>سبد خرید</span>
                    </div>
                    <div class="under-line"></div>
                </div>
                <div id="profile_section_btn" onclick="chooseSectionBtn(this)" data_section="profile" class="section">
                    <div class="section-btn">
                        <span>پروفایل کاربری</span>
                    </div>
                    <div class="under-line"></div>
                </div>
            </div>
            <div id="content-container" class="content-container">
                <div id="loading-layer" class="layer-container hidden">
                    <div class="loading-layer">
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                        <div class="wave"></div>
                    </div>
                </div>
                <div id="content" class="content">

                </div>
            </div>
        </div>
    </main>
    
{% endblock %}
{% block script %}
<script src="{% static 'js/dashboard.js' %}"></script>
    {{ paths|json_script:'_paths' }}
<script>
    dashboard.paths = JSON.parse(document.getElementById('_paths').textContent);
    dashboard.start();
</script>
<script src="{% static 'js/library/axios.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/favorite.js' %}"></script>
<script src="{% static 'js/continue_order.js' %}"></script>
<script src="{% static 'js/library/jspdf.min.js' %}"></script>
<script src="{% static 'js/library/html2pdf.bundle.min.js' %}"></script>
<script src="{% static 'js/library/jquery-3.6.0.min.js' %}"></script>

<form id="csrf-token">
    {% csrf_token %}
</form>
<script>
    cart.csrfmiddlewaretoken = document.getElementById('csrf-token').children.namedItem('csrfmiddlewaretoken').value;
</script>
{% endblock %}