<div id="cart" class="container hidden">
    <div class="cart-section">
        <div class="cart-box">
            <ul id="cart-user-menu-section-list" class="menu-cart-items">
            {% if items %}
            	{% for item in items %}
                <li id="menu-{{ item.uid }}" class="menu-cart-item">
                    <a href="{{ item.product.get_absolute_url }}" style="text-decoration: none; color: inherit">
                        <img src="{{ item.product.cover_image.url }}" alt="{{ item.product.title }}">
                    </a>
                    <span>{{ item.product.title }}</span>
                    <span id="cart-menu-count-{{ item.uid }}">{{ item.count }}</span>
                    <span>{{ item.price }}</span>
                    <form id="form-menu-{{ item.uid }}" action="">
                        {% csrf_token %}
                        <button type="button" name="delete-item" onclick="removeitemfromcart({{ item.uid }})"><i class="fa-solid fa-xmark"></i></button>
                    </form>
                </li>
                {% endfor %}
            {% else %} 
                <li id="cart-menu-empty" class="nothing">هیچ کالایی در سبد خرید شما وجود ندارد.</li>
            {% endif %}
            </ul>
        </div>
    {% if empty %}
        <div class="order-info">
        <div>
            <span>مجموع:</span>
            <span id="details-price">- تومان</span>
        </div>
        <div>
            <span>تخفیف:</span>
            <span id="details-discount">- تومان</span>
        </div>
        <div>
            <span>قیمت نهایی:</span>
            <span id="details-final-price">- تومان</span>
        </div>
    </div>
        <a id="continue-in-cart" href="{% url 'cart:cart' %}" class="continue-in-cart disabled">ادامه در سبد خرید</a>
    {% else %}
            <div class="order-info">
        <div>
            <span>مجموع:</span>
            <span id="details-price">{{ price }} تومان</span>
        </div>
        <div>
            <span>تخفیف:</span>
            <span id="details-discount">{{ discount }} تومان</span>
        </div>
        <div>
            <span>قیمت نهایی:</span>
            <span id="details-final-price">{{ final_price }} تومان</span>
        </div>
    </div>
        <a id="continue-in-cart" href="{% url 'dashboard:user_dashboard_with_sub_path' sub_path='cart' %}" class="continue-in-cart">ادامه در سبد خرید</a>
    {% endif %} 
    </div>
</div>